.allPage{
    margin: 0;
    font-family: 'KoHo', sans-serif;
}
/*header*/
.headerWrapper{
    /* border: 1px solid black; */
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}
.logoWrapper{
    /* border: 1px solid black; */
    width:50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoCode{
    width: 35px;
    height: 35px;
    object-fit: cover;
    margin: 4px;
}
.iconWrapper{
    /* border: 1px solid red; */
    width:50px;
    height: 50px;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconGithub{
    width: 35px;
    height: 35px;
    object-fit: cover;
}
/*main*/
.mainWrapper{
    /* border: 1px solid red; */
    width: 100%;
    height: 72%;
}
.hero{
    /* border: 1px solid red; */
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.photoWrapper{
    /* border: 1px solid green; */
    background-size: cover;
    min-height: 350px;
    max-height: 350px;
    display: flex;
    justify-content: center;
}
.photo{
    width: 100%;
    max-height: 350px;
    object-fit: cover;
}
.descriptionWrapper{
    /* border: 1px solid green; */
    margin: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.skillsWrapper{
    /* border: 1px solid yellow; */
    width:100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    text-align: center;
}
.sectionTitle{
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    margin: 40px;
}
.devWrapper , .seoWrapper{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}
.devImgWrapper, .seoImgWrapper{
    /* border: 1px solid black; */
    min-height: 250px;
    max-height: 250px;
}
.devTitleWrapper, .seoTitleWrapper{
    margin: 40px;
}
.workImg{
    width: 100%;
    max-height: 350px;
    object-fit: cover;  
}
.skillTitle{
    margin: 0;
}
.skillSubtitle{
    margin-bottom: 0px;
}
/*footer*/
.footerWrapper{
    /* border: 1px solid black; */
    background-color: black;
    width: 100%; 
    height: 18%; 
    text-align: center;
}
.footerTitle{
    padding: 10px;
}
.contactsWrapper{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.footerTitle{
    color:white;
    margin: 0px;   
}
.linkContact{
    margin: 5px;
    color: white;
}
.socialmediaWrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35px;
    padding-bottom: 15px;
}
.socialIcon{
    margin: 10px;
    width: 35px;
    height: 35px;
}