/* ---------- Variables ---------- */

:root {
    --grey: rgb(168, 168, 168);
    --grey-hover: rgb(124, 124, 124);
}

/* ----------- Header ----------- */

.allPage {
    margin: 0px;
    width: 100%;
    height: 100%;
    /* font-family: 'Courgette', cursive; */
    font-family: 'Poiret One', cursive;
    /* font-family: 'Rowdies', cursive; */
}

.headerWrapper {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

.nameWrapper {
    border: 2px solid var(--grey);
    border-radius: 50px;
    width: 550px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
}

.name {
    font-size: 25px;
    padding-left: 25px;
    margin: 0px;
}

.searchIconWrapper {
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchIconWrapper > .vl {
    border-left: 2px solid var(--grey);
    height: 30px;
}

.searchIconWrapper > .xIcon {
    height: 25px;
    width: 30px;
}

@media only screen and (max-width: 730px) {
    .nameWrapper {
        width: 75%;
        margin-left: 12%;
    }
}

@media only screen and (max-width: 440px) {
    .name {
        padding-left: 10px;
        font-size: 21px;
    }
}

/* ----------- Main ----------- */

.mainWrapper {
    padding-top: 60px;
    display: grid;
    grid-template-columns: 58% 100px;
}

@media only screen and (max-width: 1002px) {
    .mainWrapper {
        grid-template-columns: none;
        grid-template-rows: 350px;
    }
}

@media only screen and (max-width: 661px) {
    .mainWrapper {
        padding-top: 20px;
        grid-template-rows: 630px;
    }
}

/* -------- Left side -------- */

.leftSide {
    /* border: 2px solid black; */
    padding-left: 70px;
    grid-column: 1 / 2;
}

.textTitleWrapper {
    font-family: 'Courgette', cursive;
    margin-bottom: 40px;
}

.gradesWrapper,
.goalsWrapper,
.interestsWrapper {
    border-bottom: 2px solid var(--grey);
    margin-bottom: 20px;
}

.gradesWrapper > ul,
.goalsWrapper > ul,
.interestsWrapper > ul{
    font-size: 20px;
    line-height: 40px;
}

@media only screen and (max-width: 1002px) {
    .leftSide {
        grid-column: unset;
        grid-row: 2 / 3;
    }

    .gradesWrapper,
    .goalsWrapper,
    .interestsWrapper {
        margin-right: 70px;
    }
}

@media only screen and (max-width: 661px) {
    .leftSide {
        padding-left: 30px;
        padding-right: 30px;
    }

    .gradesWrapper,
    .goalsWrapper,
    .interestsWrapper {
        margin-right: 30px;
    }
}

/* -------- Right side -------- */

.rightSide {
    /* border: 2px solid black; */
    grid-column: 3 / 4;
}

.rightTab {
    width: 90%;
    max-width: 400px;
    padding-right: 30px;
    display: grid;
    grid-template-rows: 248px;
    margin-bottom: 15px;
}

.tabHead {
    border-width: 0px 0px 1.5px 0px;
    border-style: solid;
    border-color: var(--grey);
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
    grid-row: 1 / 2;
}

.tabBody {
    border-width: 1.5px 3px 3px 3px;
    border-style: solid;
    border-color: var(--grey);
    border-radius: 0px 0px 20px 20px;
    overflow: hidden;
    padding: 10px 25px 10px 25px;
    grid-row: 2 / 3;
    height: fit-content;
}

.profileImg {
    max-width:100%;
    max-height:100%;
}

.tabBody > a > img{
    width: 40px;
    height: 40px;
    margin-right: 7px;
    box-shadow: 5px 6px 9px var(--grey);
    border-radius: 9px;
}

.tabBody > h3 {
    margin-top: 5px;
    font-weight: normal;
}

@media only screen and (max-width: 1002px) {
    .rightSide {
        grid-column: unset;
        grid-row: 1 / 2;
    }

    .rightTab {
        grid-template-rows: none;
        grid-template-columns: 228px;
        min-width: fit-content;
        max-width: 80%;
        margin-left: 11%;
    }

    .tabHead {
        grid-row: unset;
        grid-column: 1 / 2;
        border-width: 0px 1.5px 0px 0px;
        border-radius: 0px 0px 20px 20px;
        border-radius: 20px 0px 0px 20px;
    }

    .tabBody {
        grid-row: unset;
        grid-column: 2 / 3;
        border-width: 3px 3px 3px 1.5px;
        border-radius: 0px 20px 20px 0px;
    }
}

@media only screen and (max-width: 730px) {
    .rightTab {
        margin-left: 8%;
    }
}

@media only screen and (max-width: 661px) {
    .rightTab {
        grid-template-rows: 244px;
        grid-template-columns: none;
        max-width: fit-content;
        margin-left: calc(50% - 178px);
        padding: 0px;
    }

    .tabHead {
        grid-row: 1 / 2;
        grid-column: unset;
        border-width: 0px 0px 1.5px 0px;
        border-radius: 20px 20px 0px 0px;
    }

    .tabBody {
        grid-row: 2 / 3;
        grid-column: unset;
        border-width: 1.5px 3px 3px 3px;
        border-radius: 0px 0px 20px 20px;
    }
}

/* -------- Scroll bar -------- */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--grey); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--grey);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--grey-hover); 
}
